@import '~assets/scss/variables.scss';
@import '~assets/scss/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: auto;
  overflow-x: hidden;
}

body {
  background-color: $blue;
  font-family: $font-os;
  font-size: 15px;
  line-height: 2;
  color: $white;
}

button {
  font-family: $font-os;
}

section {
  padding: calc(2rem + 5vw) 0;
}

.row {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.nuxt-content {
  a {
    color: $coral;
  }
}

h1,
h2,
.h1,
.h2 {
  color: $white;
  font-family: $font-rw;
  margin-bottom: 0.5em;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 1px;
}

h1,
.h1 {
  font-style: italic;
  text-shadow: 0em 0em 0.4em rgba($white, 50%);
}

h3,
.h3 {
  color: $white;
  font-family: $font-ow;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.18em;
}

h1,
.h1 {
  @include fluid-typography(36, 80);
}

h2,
.h2 {
  @include fluid-typography(30, 50);
}

h3,
.h3 {
  @include fluid-typography(28, 30);
}

img {
  max-width: 100%;
  object-fit: contain;
}

p {
  margin-bottom: 1em;
  font-weight: 300;
}

ul,
ol {
  margin-left: 0;
  padding-left: 3rem;
  margin-bottom: 1em;
}

a {
  color: $coral;
  text-decoration: none;
}

svg {
  max-width: 500px;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  text-align: left;
}
