@import '~assets/scss/variables.scss';

// FLUID FONTS
@mixin fluid-typography($minFont, $maxFont) {
  $maxLessOne: $desktop - 1;
  $avg: ($maxFont + $minFont) / 2;
  font-size: #{$minFont}px;

  @media (min-width: #{$mobile}px) and (max-width: #{$maxLessOne}px) {
    /* Adds a fallback for unsupported browsers */
    font-size: #{$avg}px;

    font-size: calc(
      #{$minFont}px + (#{$maxFont} - #{$minFont}) * (100vw - #{$mobile}px) /
        (#{$desktop} - #{$mobile})
    );
  }

  // SCREEN SIZES
  @media (min-width: #{$desktop}px) {
    font-size: #{$maxFont}px;
  }
}

@mixin on-tablet {
  @media (min-width: #{$tablet}px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: #{$desktop}px) {
    @content;
  }
}

// BUTTON
@mixin btn($background, $color, $border, $shadow) {
  @include fluid-typography(14, 15);

  background-color: $background;
  color: $color;
  text-align: center;
  text-decoration: none;
  padding: 1.5em 3em;
  margin-bottom: 1.2rem;
  border-radius: 3px;
  font-family: $font-rw;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid $border;
  transition: all 0.3s ease-in-out;

  @if $shadow {
    box-shadow: 0px 2px 30px 0px rgba($red, 50%);
  }
}
