@import '~assets/scss/variables.scss';

// FLUID FONTS
@mixin fluid-typography($minFont, $maxFont) {
  $maxLessOne: $desktop - 1;
  $avg: ($maxFont + $minFont) / 2;
  font-size: #{$minFont}px;

  @media (min-width: #{$mobile}px) and (max-width: #{$maxLessOne}px) {
    /* Adds a fallback for unsupported browsers */
    font-size: #{$avg}px;

    font-size: calc(
      #{$minFont}px + (#{$maxFont} - #{$minFont}) * (100vw - #{$mobile}px) /
        (#{$desktop} - #{$mobile})
    );
  }

  @media (min-width: #{$desktop}px) {
    font-size: #{$maxFont}px;
  }
}

@mixin on-tablet {
  @media (min-width: #{$tablet}px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: #{$desktop}px) {
    @content;
  }
}
