// COLORS
$black: #000;
$white: #fff;
$grey: #565656;
$purple: #321863;
$green: #5dd2b4;

// SCREEN SIZES
$mobile: 360;
$tablet: 768;
$desktop: 1200;

// FONTS
$font-quicksand: 'Quicksand', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
